jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyter-server-proxy==1.5.0
jupyterlab==2.2.8
jupyterlab-gitlab==2.0.0
jupyterlab-nvdashboard==0.4.0
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
